@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 12px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding: 0 13px;
}
ul li a{
    color: white;
}
ul li a:hover{
    color: rgb(139, 139, 139);
}
main{
    min-height: 90vh;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
